---
BasedOnStyle: LLVM
AlignArrayOfStructures: Right
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
BinPackArguments: False
BinPackParameters: False
IncludeBlocks: Regroup
IndentWidth: '4'
InsertNewlineAtEOF: True
PointerAlignment: Left
TabWidth: '4'
UseTab: Never

...
